/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display:auto;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/content/fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/content/fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('/content/fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
  url('/content/fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/content/fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/content/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/content/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/content/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/content/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/content/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
