/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */
.padding-top-0 {
    padding-top: 0 !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}
/*.smart-form {
    .input {
        input {
            padding: 4px 10px !important;
        }
    }
}*/
/* SmartForm Bootstrap Validation */
#extr-page h4.paragraph-header {
    width: auto;
}

#extr-page .smart-form .alert {
    margin: 4px;
}

    #extr-page .smart-form .alert li {
        margin-left: 14px;
        list-style: none;
    }

        #extr-page .smart-form .alert li:before {
            content: "\f071";
            font-family: FontAwesome;
            position: absolute;
            left: 14px;
        }

#extr-page .smart-form div + fieldset {
    padding-top: 15px;
}


/*============================*/
.stat-percent {
    float: right;
}

.font-bold {
    font-weight: 600;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

    .ibox.collapsed .ibox-content {
        display: none;
    }

    .ibox.collapsed .fa.fa-chevron-up:before {
        content: "\f078";
    }

    .ibox.collapsed .fa.fa-chevron-down:before {
        content: "\f077";
    }

    .ibox:after,
    .ibox:before {
        display: table;
    }

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}


.ibox-content.text-box {
    padding-bottom: 0;
    padding-top: 15px;
}

.ibox-title {
    cursor: move;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.ibox-content {
    clear: both;
}

    .ibox-content h4 {
        font-size: 14px;
        font-weight: 600;
        color: #676a6c;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}

    .ibox-heading h3 {
        font-weight: 200;
        font-size: 24px;
    }

.ibox-title h5 {
    font-weight: 600;
    color: #676a6c;
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-title .label {
    float: left;
    margin-left: 4px;
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}

    .ibox-tools a {
        cursor: pointer;
        margin-left: 5px;
        color: #c4c4c4;
    }

        .ibox-tools a.btn-primary {
            color: #fff;
        }

    .ibox-tools .dropdown-menu > li > a {
        padding: 4px 10px;
        font-size: 12px;
    }

.ibox .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}


/* TEAMS */
.team-members {
    margin: 10px 0;
}

    .team-members img.img-circle {
        width: 42px;
        height: 42px;
        margin-bottom: 5px;
    }

/* AGILE BOARD */
.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.sortable-list {
    padding: 10px 0;
}

.agile-list {
    list-style: none;
    margin: 0;
}

    .agile-list li {
        background: #FAFAFB;
        border: 1px solid #e7eaec;
        margin: 0 0 10px 0;
        padding: 10px;
        border-radius: 2px;
    }

        .agile-list li:hover {
            cursor: pointer;
            background: #fff;
        }

        .agile-list li.warning-element {
            border-left: 3px solid #f8ac59;
        }

        .agile-list li.danger-element {
            border-left: 3px solid #ed5565;
        }

        .agile-list li.info-element {
            border-left: 3px solid #1c84c6;
        }

        .agile-list li.success-element {
            border-left: 3px solid #1ab394;
        }

.agile-detail {
    margin-top: 5px;
    font-size: 12px;
}



caption {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #999;
    text-align: left;
}

/* Social feed */
.social-feed-separated .social-feed-box {
    margin-left: 62px;
}

.social-feed-separated .social-avatar {
    float: left;
    padding: 0;
}

    .social-feed-separated .social-avatar img {
        width: 52px;
        height: 52px;
        border: 1px solid #e7eaec;
    }

.social-feed-separated .social-feed-box .social-avatar {
    padding: 15px 15px 0 15px;
    float: none;
}

.social-feed-box {
    /*padding: 15px;*/
    border: 1px solid #e7eaec;
    background: #fff;
    margin-bottom: 15px;
}

.article .social-feed-box {
    margin-bottom: 0;
    border-bottom: none;
}

    .article .social-feed-box:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid #e7eaec;
    }

    .article .social-feed-box p {
        font-size: 13px;
        line-height: 18px;
    }

.social-action {
    margin: 15px;
}

.social-avatar {
    padding: 15px 15px 0 15px;
}

.social-comment .social-comment {
    margin-left: 45px;
}

.social-avatar img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.social-avatar .media-body a {
    font-size: 14px;
    display: block;
}

.social-body {
    padding: 15px;
}

    .social-body img {
        margin-bottom: 10px;
    }

.social-footer {
    border-top: 1px solid #e7eaec;
    padding: 10px 15px;
    background: #f9f9f9;
}

    .social-footer .social-comment img {
        width: 32px;
        margin-right: 10px;
    }

.social-comment:first-child {
    margin-top: 0;
}

.social-comment {
    margin-top: 15px;
}

    .social-comment textarea {
        font-size: 12px;
    }


/*datagrid header span requried */
span.required-green {
    color: #356635;
    font-weight: 700;
}

span.required {
    color: #a90329;
    font-weight: 700;
}
/*window-body-toolbar*/
.window-body-toolbar {
  background: #fafafa;
  border-bottom: 1px solid #e1e1e1;
  /*border-top: 1px solid #ccc;*/
  display: block;
  margin: 0px 0px 0px;
  min-height: 42px;
  padding: 8px 10px;
}

.window-body-toolbar .row {
        margin-left: -10px;
        margin-right: -10px;
}

.easyui-window .padding-10 .row {
    margin-left: -10px;
    margin-right: -10px;
}

.window-body-toolbar .btn {
    vertical-align: middle;
}

.window-body-toolbar .btn-xs {
    margin-top: 5px;
}
/*.tab-pane .panel-body {
    border-bottom: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid
}*/
.panel-body-toolbar {
  background: #fafafa;
  border-left: 0px solid #e1e1e1;
  border-bottom: 0px solid #e1e1e1;
  display: block;
  margin: 0px 0px 0px;
  min-height: 42px;
  padding: 8px 10px;
}

    .panel-body-toolbar .btn {
        vertical-align: middle;
    }

    .panel-body-toolbar .btn-xs {
        margin-top: 5px;
    }

.table .control-label {
    padding-top: 10px;
}



/*autocomplete*/
.xdsoft_autocomplete,
.xdsoft_autocomplete div,
.xdsoft_autocomplete span {
    /*	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;*/
}

.xdsoft_autocomplete {
    display: inline;
    position: relative;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

.xdsoft_autocomplete input {
        -moz-transition: border-color .3s;
        -ms-transition: border-color .3s;
        -o-transition: border-color .3s;
        transition: border-color .3s;
        -webkit-transition: border-color 0.3s;
        border-color: #ccc;
        -moz-appearance: none;
        -moz-box-sizing: border-box;
        -webkit-appearance: none;
        appearance: normal;
        background: #fff;
        border-radius: 0;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        color: #404040;
        display: block;
        /*font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;*/
        height: 28px;
        line-height: 28px;
        outline: none;
        padding: 4px 10px;
        width: 100%;
}

  .xdsoft_autocomplete input:focus {
    border-color: #63baff;
    -moz-box-shadow: 0 0 5px 0 #89cbff;
    -webkit-box-shadow: 0 0 5px 0 #89cbff;
    box-shadow: 0 0 5px 0 #89cbff;
  }



.xdsoft_autocomplete input:hover {
            border-color: #5D98CC;
}

.xdsoft_autocomplete .xdsoft_input {
        position: relative;
        z-index: 2;
}

.xdsoft_autocomplete .xdsoft_autocomplete_dropdown {
        position: absolute;
        border: 1px solid #ccc;
        border-top-color: #d9d9d9;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        cursor: default;
        display: none;
        z-index: 1001;
        margin-top: -1px;
        background-color: #fff;
        min-width: 100%;
        overflow: auto;
}

.xdsoft_autocomplete .xdsoft_autocomplete_hint {
        position: absolute;
        z-index: 1;
        color: #ccc !important;
        -webkit-text-fill-color: #ccc !important;
        text-fill-color: #ccc !important;
        overflow: hidden !important;
        white-space: pre !important;
}

.xdsoft_autocomplete .xdsoft_autocomplete_hint span {
            color: transparent;
            opacity: 0.0;
}

.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > .xdsoft_autocomplete_copyright {
        color: #ddd;
        font-size: 10px;
        text-decoration: none;
        right: 5px;
        position: absolute;
        margin-top: -15px;
        z-index: 1002;
}

.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div {
        background: #fff;
        white-space: nowrap;
        cursor: pointer;
        line-height: 1.5em;
        padding: 2px 0px 2px 0px;
}

.xdsoft_autocomplete .xdsoft_autocomplete_dropdown > div.active {
            background: #0097CF;
            color: #FFFFFF;
}
/*datagrid with no-padding*/
/* datagrid nopading border */
.no-padding .datagrid .panel-body {

  margin-bottom: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width:0 !important;
  border-right-width:0 !important;
  border-top-width:0 !important;
}
/*datagrid with jarviswidget-fullscreen-mode  */
#jarviswidget-fullscreen-mode .no-padding .datagrid .panel-body {
  border-bottom-width: 1px !important;
}



/*
  *  Usage:
  *
  *    <div class="sk-spinner sk-spinner-wave">
  *      <div class="sk-rect1"></div>
  *      <div class="sk-rect2"></div>
  *      <div class="sk-rect3"></div>
  *      <div class="sk-rect4"></div>
  *      <div class="sk-rect5"></div>
  *    </div>
  *
  */
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.sk-spinner-wave div {
  background-color: #1867c0;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}



.widget-body > .sk-spinner {
  display: none;
}

.widget-body.sk-loading {
  position: relative;
}

  .widget-body.sk-loading:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:200;
  }

  .widget-body.sk-loading > .sk-spinner {
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 2000;
  }
  /*easyui datagrid */
.jarviswidget .datagrid-body tbody tr:last-child td {
  border-bottom: 1px #ccc solid
}
.jarviswidget .datagrid-body .datagrid-editable tbody tr td {
  border-bottom: none;
}

/* form group 调整*/
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
}
  .form-horizontal .form-group .col-md-2,
  .form-horizontal .form-group .col-md-10,
  .form-horizontal .form-group .col-md-3,
  .form-horizontal .form-group .col-md-9 {
    padding-right: 2px;
    padding-left: 2px;
  }
.bv-form {
  padding-left: 12px;
  padding-right: 12px;
}

  .bv-form label {
    margin-bottom: 1px;
    margin-top: 5px;
  }

  .bv-form .col-md-4,
  .bv-form .col-md-12,
  .bv-form .col-md-3,
  .bv-form .col-md-6 {
    padding-left: 2px;
    padding-right: 2px;
  }



/*card dashboard style*/
/*--------------------------------

nucleo-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */

@font-face {
  font-family: 'nucleo-icons';
  src: url("/content/fonts/nucleo-icons.eot");
  src: url("/content/fonts/nucleo-icons.eot") format("embedded-opentype"), url("/content/fonts/nucleo-icons.woff2") format("woff2"), url("/content/fonts/nucleo-icons.woff") format("woff"), url("/content/fonts/nucleo-icons.ttf") format("truetype"), url("/content/fonts/nucleo-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------
	base class definition
-------------------------*/

.nc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'nucleo-icons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  /*------------------------
  change icon size
-------------------------*/

  .nc-icon.lg {
    font-size: 1.33333333em;
    vertical-align: -16%;
  }

  .nc-icon.x2 {
    font-size: 2em;
  }

  .nc-icon.x3 {
    font-size: 3em;
  }

  /*----------------------------------
  add a square/circle background
-----------------------------------*/

  .nc-icon.square,
  .nc-icon.circle {
    padding: 0.33333333em;
    vertical-align: -16%;
    background-color: #eee;
  }

  .nc-icon.circle {
    border-radius: 50%;
  }

/*------------------------
  list icons
-------------------------*/

.nc-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

  .nc-icon-ul > li {
    position: relative;
  }

    .nc-icon-ul > li > .nc-icon {
      position: absolute;
      left: -1.57142857em;
      top: 0.14285714em;
      text-align: center;
    }

      .nc-icon-ul > li > .nc-icon.lg {
        top: 0;
        left: -1.35714286em;
      }

      .nc-icon-ul > li > .nc-icon.circle,
      .nc-icon-ul > li > .nc-icon.square {
        top: -0.19047619em;
        left: -1.9047619em;
      }

/*------------------------
  spinning icons
-------------------------*/

.nc-icon.spin {
  -webkit-animation: nc-icon-spin 2s infinite linear;
  -moz-animation: nc-icon-spin 2s infinite linear;
  animation: nc-icon-spin 2s infinite linear;
}

@-webkit-keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes nc-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------
  rotated/flipped icons
-------------------------*/

.nc-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nc-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nc-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.nc-icon.flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.nc-icon.flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/*------------------------
	font icons
-------------------------*/

.nc-air-baloon::before {
  content: "\ea01";
}

.nc-album-2::before {
  content: "\ea02";
}

.nc-alert-circle-i::before {
  content: "\ea04";
}

.nc-align-center::before {
  content: "\ea03";
}

.nc-align-left-2::before {
  content: "\ea05";
}

.nc-ambulance::before {
  content: "\ea06";
}

.nc-app::before {
  content: "\ea07";
}

.nc-atom::before {
  content: "\ea08";
}

.nc-badge::before {
  content: "\ea09";
}

.nc-bag-16::before {
  content: "\ea0a";
}

.nc-bank::before {
  content: "\ea0b";
}

.nc-basket::before {
  content: "\ea0c";
}

.nc-bell-55::before {
  content: "\ea0d";
}

.nc-bold::before {
  content: "\ea0e";
}

.nc-book-bookmark::before {
  content: "\ea0f";
}

.nc-bookmark-2::before {
  content: "\ea10";
}

.nc-box-2::before {
  content: "\ea11";
}

.nc-box::before {
  content: "\ea12";
}

.nc-briefcase-24::before {
  content: "\ea13";
}

.nc-bulb-63::before {
  content: "\ea14";
}

.nc-bullet-list-67::before {
  content: "\ea15";
}

.nc-bus-front-12::before {
  content: "\ea16";
}

.nc-button-pause::before {
  content: "\ea17";
}

.nc-button-play::before {
  content: "\ea18";
}

.nc-button-power::before {
  content: "\ea19";
}

.nc-calendar-60::before {
  content: "\ea1a";
}

.nc-camera-compact::before {
  content: "\ea1b";
}

.nc-caps-small::before {
  content: "\ea1c";
}

.nc-cart-simple::before {
  content: "\ea1d";
}

.nc-chart-bar-32::before {
  content: "\ea1e";
}

.nc-chart-pie-36::before {
  content: "\ea1f";
}

.nc-chat-33::before {
  content: "\ea20";
}

.nc-check-2::before {
  content: "\ea21";
}

.nc-circle-10::before {
  content: "\ea22";
}

.nc-cloud-download-93::before {
  content: "\ea23";
}

.nc-cloud-upload-94::before {
  content: "\ea24";
}

.nc-compass-05::before {
  content: "\ea25";
}

.nc-controller-modern::before {
  content: "\ea26";
}

.nc-credit-card::before {
  content: "\ea27";
}

.nc-delivery-fast::before {
  content: "\ea28";
}

.nc-diamond::before {
  content: "\ea29";
}

.nc-email-85::before {
  content: "\ea2a";
}

.nc-favourite-28::before {
  content: "\ea2b";
}

.nc-glasses-2::before {
  content: "\ea2c";
}

.nc-globe-2::before {
  content: "\ea2d";
}

.nc-globe::before {
  content: "\ea2e";
}

.nc-hat-3::before {
  content: "\ea2f";
}

.nc-headphones::before {
  content: "\ea30";
}

.nc-html5::before {
  content: "\ea31";
}

.nc-image::before {
  content: "\ea32";
}

.nc-istanbul::before {
  content: "\ea33";
}

.nc-key-25::before {
  content: "\ea34";
}

.nc-laptop::before {
  content: "\ea35";
}

.nc-layout-11::before {
  content: "\ea36";
}

.nc-lock-circle-open::before {
  content: "\ea37";
}

.nc-map-big::before {
  content: "\ea38";
}

.nc-minimal-down::before {
  content: "\ea39";
}

.nc-minimal-left::before {
  content: "\ea3a";
}

.nc-minimal-right::before {
  content: "\ea3b";
}

.nc-minimal-up::before {
  content: "\ea3c";
}

.nc-mobile::before {
  content: "\ea3d";
}

.nc-money-coins::before {
  content: "\ea3e";
}

.nc-note-03::before {
  content: "\ea3f";
}

.nc-palette::before {
  content: "\ea40";
}

.nc-paper::before {
  content: "\ea41";
}

.nc-pin-3::before {
  content: "\ea42";
}

.nc-planet::before {
  content: "\ea43";
}

.nc-refresh-69::before {
  content: "\ea44";
}

.nc-ruler-pencil::before {
  content: "\ea45";
}

.nc-satisfied::before {
  content: "\ea46";
}

.nc-scissors::before {
  content: "\ea47";
}

.nc-send::before {
  content: "\ea48";
}

.nc-settings-gear-65::before {
  content: "\ea49";
}

.nc-settings::before {
  content: "\ea4a";
}

.nc-share-66::before {
  content: "\ea4b";
}

.nc-shop::before {
  content: "\ea4c";
}

.nc-simple-add::before {
  content: "\ea4d";
}

.nc-simple-delete::before {
  content: "\ea4e";
}

.nc-simple-remove::before {
  content: "\ea4f";
}

.nc-single-02::before {
  content: "\ea50";
}

.nc-single-copy-04::before {
  content: "\ea51";
}

.nc-sound-wave::before {
  content: "\ea52";
}

.nc-spaceship::before {
  content: "\ea53";
}

.nc-sun-fog-29::before {
  content: "\ea54";
}

.nc-support-17::before {
  content: "\ea55";
}

.nc-tablet-2::before {
  content: "\ea56";
}

.nc-tag-content::before {
  content: "\ea57";
}

.nc-tap-01::before {
  content: "\ea58";
}

.nc-tie-bow::before {
  content: "\ea59";
}

.nc-tile-56::before {
  content: "\ea5a";
}

.nc-time-alarm::before {
  content: "\ea5b";
}

.nc-touch-id::before {
  content: "\ea5c";
}

.nc-trophy::before {
  content: "\ea5d";
}

.nc-tv-2::before {
  content: "\ea5e";
}

.nc-umbrella-13::before {
  content: "\ea5f";
}

.nc-user-run::before {
  content: "\ea60";
}

.nc-vector::before {
  content: "\ea61";
}

.nc-watch-time::before {
  content: "\ea62";
}

.nc-world-2::before {
  content: "\ea63";
}

.nc-zoom-split::before {
  content: "\ea64";
}

/* all icon font classes list here */


.card {
  border-radius: 0px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

  .card .card-body {
    padding: 15px 15px 10px 15px;
  }

    .card .card-body.table-full-width {
      padding-left: 0;
      padding-right: 0;
    }

  .card .card-header {
    padding: 15px 15px 0;
    border: 0;
  }

    .card .card-header:not([data-background-color]) {
      background-color: transparent;
    }

    .card .card-header .card-title {
      margin-top: 10px;
    }

  .card .map {
    border-radius: 3px;
  }

    .card .map.map-big {
      height: 400px;
    }

  .card[data-background-color="orange"] {
    background-color: #51cbce;
  }

    .card[data-background-color="orange"] .card-header {
      background-color: #51cbce;
    }

    .card[data-background-color="orange"] .card-footer .stats {
      color: #FFFFFF;
    }

  .card[data-background-color="red"] {
    background-color: #ef8157;
  }

  .card[data-background-color="yellow"] {
    background-color: #fbc658;
  }

  .card[data-background-color="blue"] {
    background-color: #51bcda;
  }

  .card[data-background-color="green"] {
    background-color: #6bd098;
  }

  .card .image {
    overflow: hidden;
    height: 200px;
    position: relative;
  }

  .card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .card .numbers {
    font-size: 2em;
  }

  .card .big-title {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 15px;
  }

  .card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A;
  }

  .card .card-footer {
    background-color: transparent;
    border: 0;
  }

    .card .card-footer .stats i {
      margin-right: 5px;
      position: relative;
      top: 0px;
      color: #66615B;
    }

    .card .card-footer .btn {
      margin: 0;
    }

  .card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }

    .card.card-plain .card-body {
      padding-left: 5px;
      padding-right: 5px;
    }

    .card.card-plain img {
      border-radius: 12px;
    }

.card-plain {
  background: transparent;
  box-shadow: none;
}

  .card-plain .card-header,
  .card-plain .card-footer {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }

  .card-plain:not(.card-subcategories).card-body {
    padding-left: 0;
    padding-right: 0;
  }

.card-chart .card-header .card-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-chart .card-header .card-category {
  margin-bottom: 5px;
}

.card-chart .table {
  margin-bottom: 0;
}

  .card-chart .table td {
    border-top: none;
    border-bottom: 1px solid #e9ecef;
  }

.card-chart .card-progress {
  margin-top: 30px;
}

.card-chart .chart-area {
  height: 190px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}

.card-chart .card-footer {
  margin-top: 15px;
}

  .card-chart .card-footer .stats {
    color: #9A9A9A;
  }

.card-chart .dropdown {
  position: absolute;
  right: 20px;
  top: 20px;
}

  .card-chart .dropdown .btn {
    margin: 0;
  }

.card-user .image {
  height: 130px;
}

  .card-user .image img {
    border-radius: 12px;
  }

.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -77px;
}

  .card-user .author a + p.description {
    margin-top: -7px;
  }

.card-user .avatar {
  width: 124px;
  height: 124px;
  border: 1px solid #FFFFFF;
  position: relative;
}

.card-user .card-body {
  min-height: 240px;
}

.card-user hr {
  margin: 5px 15px 15px;
}

.card-user .card-body + .card-footer {
  padding-top: 0;
}

.card-user .card-footer h5 {
  font-size: 1.25em;
  margin-bottom: 0;
}

.card-user .button-container {
  margin-bottom: 6px;
  text-align: center;
}

.map {
  height: 500px;
}

.card-stats .card-body {
  padding: 15px 15px 0px;
}

  .card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
  }

    .card-stats .card-body .numbers p {
      margin-bottom: 0;
    }

    .card-stats .card-body .numbers .card-category {
      color: #9A9A9A;
      font-size: 16px;
      line-height: 1.4em;
    }

.card-stats .card-footer {
  padding: 0px 15px 15px;
}

  .card-stats .card-footer .stats {
    color: #9A9A9A;
  }

  .card-stats .card-footer hr {
    margin-top: 10px;
    margin-bottom: 15px;
  }

.card-stats .icon-big {
  font-size: 3em;
  min-height: 64px;
}

  .card-stats .icon-big i {
    line-height: 59px;
  }


/*滚动条 样式*/
.custom-scroll::-webkit-scrollbar-track-piece,
.custom-scrollbar::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
}

.custom-scroll::-webkit-scrollbar-thumb:vertical,
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: #666 !important;
}

.custom-scroll::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  height: 4px !important;
  width: 4px !important;
}

.custom-scroll::-webkit-scrollbar-corner,
.custom-scrollbar::-webkit-scrollbar-corner {
  width: 40px !important;
}

.custom-scroll::-webkit-scrollbar-thumb:vertical,
.custom-scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: #666 !important;
}
 .no-padding .list-group-item {
border-left:none;border-right:none;
}

/*解决checkbox 冲突问题*/

.smart-form .checkbox,
.smart-form .inputbox {
  border: none;
  background-color: transparent;
 
}
.smart-form .checkbox,
.smart-form .inputbox {
  border: none;
  background-color:transparent;
  width:auto;
  height: 25px ;
  min-height: 25px ;
  max-width:100%;
}
  .smart-form .checkbox:hover,
  .smart-form .inputbox:hover {
    border: none;
    border-color: none;
    box-shadow: none
  }

  .smart-form .checkbox:focus,
  .smart-form .inputbox :focus {
    border: none;
    border-color: none;
    box-shadow: none
  }

.table-responsive .smart-form * {
  box-sizing: content-box !important;
  -moz-box-sizing: content-box !important
}
