<!-- collapse menu button -->
<div id="hide-menu" class="btn-header pull-right">
  <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
</div>


<!-- logout button -->
<div id="logout" class="btn-header transparent pull-right">
  <span> <a href="@Url.Action("login", "account")" title="注销" data-action="userLogout" data-logout-msg="注销后，您可以通过关闭此打开的浏览器来进一步提高安全性。"><i class="fa fa-sign-out"></i></a> </span>
</div>
<!-- end logout button -->

<!-- end input: search field -->
<!-- fullscreen button -->
<div id="fullscreen" class="btn-header transparent pull-right">
  <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
</div>
<!-- end fullscreen button -->
<!-- #Voice Command: Start Speech -->



<!-- end multiple lang -->
